body {
    /*Background*/
    margin: 0;
    padding: 0;
    background: url(assets/pizzaBackground.png);
    background-size: 100%;
    height: 100vh;
    width: 100vw;

    /*All Texts' Font*/
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 400px;
    font-style: normal;
    text-align: center;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 0,
  'opsz' 40px;
  font-size: 3rem;
}

.material-symbols-outlined.door_open {
    font-size:1.7rem;
}

.material-symbols-outlined.arrow_back, .exit {
    width: calc(100vw - 45px * 2);
    display: flex;
    justify-content: left;
    padding-left: 30px;
}

.back {
    width: calc(100vw - 45px * 2);
    display: flex;
    justify-content: right;
    padding-right: 50px;
    padding-bottom: 5px;
}

.material-symbols-outlined.arrow_forward {
    border: 5px solid #3BF8FF;
    padding: 5px;
    border-radius: 20px;
    background-color: #281A34;
}

body, .neon, .buttons a, input, .scores div{
    /*Center Content*/
    display:grid;
    place-content: center;
    justify-content: center;
}

.neon {
    /*Centering*/
    grid-row: 1;
    grid-column: 1;

    border: 5px solid;
    box-sizing: border-box;
}

.neon.pink {
    border-color: #FF3B7F;
    border-radius: 35px;

    /*Sizing*/
    width: calc(100vw - 30px * 2);
    height: calc(100vh - 30px * 2);

}

.neon.blue {
    border-color: #3BF8FF;
    border-radius: 25px;

    width: calc(100vw - 45px * 2);
    height: calc(100vh - 45px * 2);
}

.title {
    font-size:3rem;
    text-align: center;
    paint-order: stroke fill;
    color: #281A34;
    -webkit-text-stroke: 5px #3BF8FF;
}

.buttons {
    /*Centering*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 10px;
}

.buttons a, input {
    /*Size*/
    height: 5rem;
    width: calc(100vw - 75px * 2);
    max-width: 240px;

    /*Box*/
    border-radius: 25px;
    border: 5px solid #FF3B7F;
    box-sizing: border-box;
    background-color: #281A34;

    /*Text*/
    text-decoration: none;
    color: #3BF8FF;
    font-size: 1.8rem;
}

span a {
    text-decoration: none;
    color: #3BF8FF;
}

.home {
    justify-content: space-evenly;
}

section {
    height: calc(100vh - 65px * 2);
    width: calc(100vw - 45px * 2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#signUp a, #signUp div, li{
    paint-order: stroke fill;
    color: #281A34;
    -webkit-text-stroke: 3px #3BF8FF;
    font-size: 1.2rem;
}

li {
    list-style: none;
    text-align: left;
    margin: 10px;
}

.exit a{
    display: flex;
    font-size: 1.3rem;
    color: #3BF8FF;
    text-decoration: none;

    background-color: #281A34;
    border: 5px solid #3BF8FF;
    border-radius: 10px;

    padding: 5px;
    margin-left: 5px;
}

.scores {
    display:flex;
    justify-content: center;
    align-items: center;
    width: calc(100vw - 70px * 2);
    gap: 10px;
    margin-bottom: 3rem;
}

.scores div{
    background-color: #281A34;
    border: 5px solid #3BF8FF;
    font-size: 1.5rem;
    border-radius: 25px;
    height: 4rem;
    min-width: 4rem;
}

.scores div a {
    width: 150px;
    text-decoration: none;
    color: #3BF8FF;
}

.subtitle {
    width: calc(100vw - 45px * 2);
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;

    font-size: 1.8rem;
    paint-order: stroke fill;
    color: #281A34;
    -webkit-text-stroke: 4px #3BF8FF;
    text-align: left;

    margin-top: -30px;
}

button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 3rem;
    height: 3rem;

    background-color: transparent;
    border: none;

    color: #3BF8FF;
    -webkit-text-stroke: 0px;
}

#backButton .material-symbols-outlined.arrow_back {
    margin-left: -60px;
}

/*Table Tabs*/

.tabs {
    width: calc(100vw - 30px * 2);
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
    flex-direction: row;
}

.tabs div {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:60%;

    paint-order: stroke fill;
    color: #281A34;
    -webkit-text-stroke: 3px #3BF8FF;
    font-size: 100%;
}

.tabs div div {
    height: 9px;
    background-color: #3BF8FF;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: 5px;
}

.tab.active {
    -webkit-text-stroke: 3px #FF3B7F;
}

.tab.active div{
    background-color: #FF3B7F;
}

/*Rounded Table*/
table {
    height: calc(100vh - 6rem * 2);
    width: calc(100vw - 30px * 2);
    min-height: 670px;

    border-spacing: 0;
    border-collapse: separate;
    border-radius: 25px;
    border:5px solid #FF3B7F;
    background-color: #281A34;
    font-size: 1.2rem;
    color: #3BF8FF;
    margin-bottom: 30px;
}

/* Apply a border to the right of all but the last column */
td:not(:last-child) {
    border-right: 3px solid #FF3B7F;
}

/* Apply a border to the bottom of all but the last row */
tr:not(:last-child)>td {
    border-bottom: 3px solid #FF3B7F;
}

tr:first-child>td {
    min-width: 30px;
}

td:not(:last-child, :first-child) {
    width: calc(50vw - 60px);
}

[data-tab-content] {
    display:none;
}

.active[data-tab-content] {
    display:block;
}

.ranking {
    paint-order: stroke fill;
    color: #281A34;
    -webkit-text-stroke: 3px #3BF8FF;
    font-size: 1.5rem;
    margin: 30px;
}

.ranking div {
    display: flex;
    justify-content: space-evenly;
}

.ranks {
    display:flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100vw - 45px * 2);
    padding-bottom: 30px;
}

.ranks li {
    margin-top: 2vh;
    font-size: 1.5rem;
}

.rankScore {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;
    padding-left: min(10%, 30px);

    border: 5px solid #FF3B7F;
    background-color: #281A34;
    border-radius: 25px;
    flex-grow: 1;
    min-height: 5rem;
    margin-top: 5px;
    
    font-size: 1.2rem;
    -webkit-text-stroke: 0;
    color:#3BF8FF;
    text-align: left;
}